.arena-container {
    background-color: black;
    display: flex;
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    justify-content: center;
    /* margin: 10%; */
}

.arena {
    background-color: yellow;
    min-height: 85%;
    min-width: 90%;
    margin: 5%;
}